* {
    
}

.listnavbar {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 12px;
}

.itemscount {
    font-weight: 800;
    color: black
}

.orderlist {
    display: flex;
}

.orderlist li:before {
    content: "ã…£";
    color : gray;
    margin-right: 5px;
}

.orderlist li:first-child:before {
    content: '';
}

.orderlist li {
    cursor: pointer;
}

.listcontainer {
    width: 1400px;
    margin: 0 auto;
}

.listcontainer {
    width: 1400px;
    margin: 0 auto;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proditemcontainer {
    width: 430px;
}

.itembox {
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
    margin : 50px 0;
}

.itemimg {
    width: 430px;
    height: 430px;
}

.productname {
    
}