.ordersheet_contanier {
  display: flex;
  justify-content: space-around;
}

.order_detail_box {
  display: inline;
  width: 700px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.payment_detail_box {
  display: inline;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
}

.order_product_box {
  width: 650px;
}

.order_item {
  display: inline-block;
}

.order_itemBox {
  flex-direction: row;
  border: 1px solid black;
}

.inputArea {
  height: 16px;
  width: 150px;
}

.orderersheet_display_close {
  display: none;
}

.orderersheet_display_open {
  display: block;
}

.usePointsheet_display_close {
  display: none;
}

.usePointsheet_display_open {
  display: block;
}

.paymentSheet_display_close {
  display: none;
}

.paymentSheet_display_open {
  display: block;
}

