.complete_order_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.order_detail_box_1 {
  /* display: inline; */
  width: 530px;
  /* border: 5px solid greenyellow; */
  /* border-radius: 10px; */
  padding: 10px;
  margin: 10px;
  background-color: rgb(191, 248, 205);
}
.order_detail_box_2 {
  display: inline;
  width: 430px;
  background-color: rgb(191, 248, 205);
  /* border: 5px solid greenyellow; */
  /* border-radius: 10px; */
  padding: 10px;
  margin: 10px;
}

.order_complete_delivery_destination {
  width: 120px;
}

.order_complete_itemBox {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.order_complete_item {
  display: inline-block;
  margin-right: 15px;
}

.complete_order_btnOrder {
  width: 180px;
  height: 50px;
  margin-left: 10px;
  font-weight: bold;
  background-color: rgb(47, 255, 116);
  /* border: 1px solid black; */
  cursor: pointer;
}
